<div class="jumbotron">
    Newscrape
</div>
<div class="row">
    {{#each article}}
    <div class="card" id = "{{this._id}}">
        <div class="card-header">
            <h1><a href="{{this.link}}">{{this.title}}</a></h1>
            <button class=""
        </div>
    </div>
</div>